.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @media (min-width: 640px) {
      max-width: 640px;
  }

  @media (min-width: 768px) {
      max-width: 768px;

  }

  @media (min-width: 1024px) {
      max-width: calc(1200px - 32px);
  }
}

.main{
  flex: 1
}

.section {
  @apply overflow-hidden py-10 md:py-20;

  &__wrap {
    @apply container mx-auto relative;

  }
}
