.footer {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  p{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    text-align: center;
  }
}
